# Arquivo DEBIAN/control do meu audacity
Package: audacity
Version: 3.2.5
Architecture: all
Essential: no
Priority: optional
Section: sound
Depends:
Maintainer: Luiz Eduardo Maia Ribeiro <distromaialinux@gmail.com>
Installed-Size: 23,2 MB
Download-Size: 5.594 kB
Homepage: https://www.audacityteam.org
Description: editor de áudio multiplataforma rápido
 Audacity é um editor de áudio multitrilha para Linux/Unix, MacOS e
 Windows. Ele foi projetado para gravação, execução e edição fácil de
 áudio digital. O Audacity apresenta ferramentas de efeitos digitais e para
 análise de espectro. A edição é muito rápida e oferece desfazer/refazer
 ilimitado.
 os formatos de arquivos para os quais há suporte incluem Ogg Vorbis, MP2,
 MP3, WAV, AIFF e AU.
