# Entrada para desktop
[Desktop Entry]
Name=Executavel
GenericName=Executable
GenericName[pt_BR]=Executavel
Comment=EXE Programs
Comment[pt_BR]=EXE de programas
Keywords=audio;sound;development;
# O icone depende de onde você coloca ele. De forma Global ou Local
Icon=icone
Type=Application
Categories=AudioVideo;Audio;Development;
Exec=executavel %F
StartupNotify=false
Terminal=false
NoDisplay=false
